@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #D8E4FF;
  .main {
    margin: 0 240px 0 auto;
  }
  .header {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    padding: 8px 4px;
    background: #0CCE6B;
    &__link {
      text-decoration: none;
      color: #363537;
      font-size: 24px;
      &:hover {
        border-bottom: 1px solid black;
        color: black;
      }
    }
    &__logout {
      border: none;
      background: none;
      font-size: 20px;
      text-decoration: none;
      color: teal;
      &:hover {
        color: black;
      }
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(8deg) scale(1);
    }
    to {
      transform: rotate(368deg) scale(1.4);
    }
  }
  .auth__form {
    width: 360px;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    top: 30%;
    left: 40%;
    flex-direction: column;
    border: 1px solid #c7c7c7;
    background-color: white;
    border-radius: 24px;
    padding: 56px 24px 24px 24px;
    &__input {
      margin-top: 16px;
      &:hover {
        outline: none;
      }
    }
    &__btn {
      width: 100%;
      border: none;
      border-top: 1px solid #c7c7c7;
      margin-top: 8px;
      padding: 12px 0;
      background: none;
      font-size: 20px;
      &:hover {
        background: aliceblue;
      }
    }
  }
  .error_alert {
    position: absolute;
    max-width: 360px;
    bottom: 0;
    right: 0;
  }
  .projects {
    margin: 0 auto;
    &__title {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  .project {
    max-width: 60vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    &__title {
      font-size: 28px;
      margin: 36px 0;
    }
    &__description {
      font-size: 18px;
      margin-bottom: 28px;
    }
    &__documentation{
      font-size: 16px;
      margin-bottom: 24px;
    }
    .documentation {
      font-size: 18px;
      &__edit__btn {
        margin-top: 32px;
        padding: 8px 12px;
        font-size: 16px;
      }
      &__text {
        font-size: 16px;
        white-space: pre-wrap;
        &__editor {
          font-size: 16px;
          width: 100%;
          height: 70vh;
          padding: 18px;
          border: 1px solid grey;
          border-radius: 5px;
          overflow-y: scroll;
          &:focus {
            outline: none;
          }
        }
      }
    }
    &__back {
      top: 100%;
      position: absolute;
      margin-top: 32px;
      right: 0;
      bottom: 0;
      &__btn {
        font-size: 18px;
      }
    }
  }
  .project__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px 12px;
    max-height: 108px;
    cursor: pointer;
    transition: linear .4s;
    background-color: #F5F5F5;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:hover{
      transition: linear .3s;
      background-color: #8eec8e;
    }
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
    &__description {
      font-size: 18px;
      overflow: hidden;
    }
  }
  @media (max-width: 1600px) {
    .main {
      margin-right: 100px;
    }
  }
  @media (max-width: 1400px) {
    .main {
      margin-right: 0;
    }
  }
  @media (max-width: 1300px) {
    .projects {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .main {
      margin-right: 100px;
    }
  }
  @media (max-width: 800px) {
    .auth__form {
      top: 25%;
      left: 30%;
      border-radius: 20px;
      padding: 36px 18px 20px 18px;
      .auth__form__title {
        font-size: 24px;
      }
    }
  }
  @media (max-width: 600px) {
    .auth__form {
      width: 300px;
      top: 25%;
      left: 23%;
      border-radius: 16px;
      padding: 36px 18px 20px 18px;
      &__title {
        font-size: 22px;
      }
    }
  }
  @media (max-width: 430px) {
    .auth__form {
      width: 260px;
      left: 23%;
      border-radius: 12px;
      padding: 32px 16px 18px 16px;
      &__title {
        font-size: 20px;
      }
      &__btn {
        font-size: 16px;
      }
    }
  }
  .profile {
    margin: 52px 240px 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__avatar {
      width: 220px;
      padding: 20px;
    }
    &__info {
      margin-right: 160px;
      &__point {
        font-size: 24px;
        margin-top: 24px;
      }
    }
  }
}


