@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #D8E4FF;
  .header {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    padding: 8px 4px;
    background: #0CCE6B;
    &__link {
      text-decoration: none;
      color: #363537;
      font-size: 24px;
      &:hover {
        border-bottom: 1px solid black;
        color: black;
      }
    }
    &__logout {
      border: none;
      background: none;
      font-size: 20px;
      text-decoration: none;
      color: teal;
      &:hover {
        color: black;
      }
    }
  }
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: rotate 3s infinite linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(8deg) scale(1);
    }
    to {
      transform: rotate(368deg) scale(1.4);
    }
  }
  .auth__form {
    width: 360px;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    top: 30%;
    left: 40%;
    flex-direction: column;
    border: 1px solid #c7c7c7;
    background-color: white;
    border-radius: 24px;
    padding: 56px 24px 24px 24px;
    &__input {
      margin-top: 16px;
      &:hover {
        outline: none;
      }
    }
    &__btn {
      width: 100%;
      border: none;
      border-top: 1px solid #c7c7c7;
      margin-top: 8px;
      padding: 12px 0;
      background: none;
      font-size: 20px;
      &:hover {
        background: aliceblue;
      }
    }
  }
  .projects {
    margin: 0 auto;
    &__title {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  @media (max-width: 1200px) {
    .projects {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .project {
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    &__title {
      font-size: 32px;
      margin: 36px 0;
    }
    &__description {
      font-size: 20px;
      margin-bottom: 28px;
    }
    &__documentation{
      font-size: 20px;
      margin-bottom: 24px;
    }
    .documentation {
      font-size: 18px;
      &__edit__btn {
        margin-top: 16px;
        padding: 8px 12px;
        font-size: 16px;
      }
      &__text {
        font-size: 18px;
        white-space: pre-wrap;
        &__editor {
          font-size: 18px;
          width: 100%;
          height: 75vh;
          padding: 18px;
          border: 1px solid grey;
          border-radius: 5px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    &__back {
      top: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      &__btn {
        border: 1px solid teal;
        background: 0;
        font-size: 18px;
        border-radius: 16px;
        padding: 8px 12px;
      }
    }
  }
  .project__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px 12px;
    max-height: 108px;
    cursor: pointer;
    transition: linear .4s;
    background-color: #F5F5F5;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:hover{
      transition: linear .3s;
      background-color: #8eec8e;
    }
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
    &__description {
      font-size: 18px;
      overflow: hidden;
    }
  }
}


